<%- include("../../partials/_header.ejs", {headTitle: "Aulas de Dança", headDesc: `Descubra a magia da dança e libere sua expressão criativa! Junte-se a nós para aulas de dança emocionantes, onde você pode explorar uma
variedade de estilos.`}) %>

<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb-text">
          <h2>DANÇA</h2>
          <div class="bt-option">
            <a href="/#">Início</a>
            <a href="#">Classes</a>
            <span>DANÇA</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="class-details-section">
  <div class="container">
    <br />
    <div class="class-details-text">
      <div class="cd-text">
        <div class="cd-single-item">
          <h3>DANÇA</h3>
          <p>
            Descubra a magia da dança e libere sua expressão criativa! Junte-se
            a nós para aulas de dança emocionantes, onde você pode explorar uma
            variedade de estilos. Não importa seu nível de habilidade, nossos
            instrutores experientes estão aqui para guiá-lo em uma jornada de
            movimento, música e diversão. Inscreva-se agora e embarque nesta
            emocionante aventura na pista de dança!
          </p>
        </div>
        <div class="cd-single-item">
          <h3>PROFESSOR</h3>
        </div>
      </div>
      <div class="cd-trainer">
        <div class="row">
          <div class="col-md-6">
            <div class="cd-trainer-pic">
              <!-- <img
                src="/img/classes/class-details/trainer-ze-do-bode.jpg"
                alt=""
              />-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="cd-trainer-text">
              <div class="trainer-title">
                <h4>WAN LUSTOSA</h4>
                <span>PROFESSOR - DANÇA</span>
              </div>
              <div class="trainer-social">
                <!--<a href="https://wa.me/+556993819671"
                  ><i class="fa fa-whatsapp"></i
                ></a>-->
              </div>
              <!--<p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
                viverra maecenas lacus vel facilisis.
              </p>-->
              <ul class="trainer-info">
                <li>
                  <span>Domina</span>
                  DANÇA
                </li>
              </ul>
              <!--<p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
                viverra maecenas lacus vel facilisis.
              </p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="class-timetable-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <span>CRONOGRAMA</span>
          <h2>DAS AULAS</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="table-controls">
          <ul>
            <li class="active" data-tsfilter="all">Todo</li>
            <li data-tsfilter="adultos">Adultos</li>
            <li data-tsfilter="criancas">Crianças</li>
            <li data-tsfilter="mesclados">Mesclado</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="class-timetable">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Domingo</th>
                <th>Segunda</th>
                <th>Terça</th>
                <th>Quarta</th>
                <th>Quinta</th>
                <th>Sexta</th>
                <th>Sábado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="class-time">Sem horário</td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
              </tr>
              <tr>
                <td class="class-time">Sem horário</td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
              </tr>
              <tr>
                <td class="class-time">17:00</td>
                <td class="blank-td"></td>
               
                <td class="blank-td"></td>
                <td class="hover-bg ts-meta" data-tsmeta="adultos">
                  <h5>DANÇA</h5>
                  <span>ADULTO</span>
                </td><td class="blank-td"></td>
               <td class="hover-bg ts-meta" data-tsmeta="adultos">
                  <h5>DANÇA</h5>
                  <span>ADULTO</span>
                </td><td class="blank-td"></td>
                <td class="blank-td"></td>
              </tr>
              <tr>
                <td class="class-time">Sem Horário</td>
                <td class="blank-td"></td>

                <td class="blank-td"></td>
                <td class="blank-td"></td>

                <td class="blank-td"></td>

                <td class="blank-td"></td>

                <td class="blank-td"></td>
                <td class="blank-td"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pricing Section Begin -->
<section class="pricing-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Plano - DANÇA</span>
          <h2>INCREVA-SE JÁ!</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <div class="ps-item">
          <h3>Aulas DANÇA</h3>
          <div class="pi-price">
            <h2>R$ CONSULTAR</h2>
            <span>ARTES - DANÇA</span>
          </div>
          <ul>
            <li>Até 2x na semana</li>
          </ul>
          <a href="#" class="primary-btn pricing-btn" data-toggle="modal" data-target="#begginNow">COMEÇAR AGORA</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing Section End -->

<script>
  function calcularIdade(anoNascimento) {
    var dataAtual = new Date();
    var anoAtual = dataAtual.getFullYear();
    var idade = anoAtual - anoNascimento;
    return idade;
  }
</script>

<%- include("../../components/modalBeginNow.ejs") %>

<%- include("../../partials/_footer.ejs") %>
