<%- include("../../partials/_header.ejs") %>

<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb-text">
          <h2>FUNCIONAL</h2>
          <div class="bt-option">
            <a href="/#">Início</a>
            <a href="#">Classes</a>
            <span>FUNCIONAL</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="class-details-section">
  <div class="container">
    <br />
    <div class="class-details-text">
      <div class="cd-text">
        <div class="cd-single-item">
          <h3>FUNCIONAL</h3>
          <p>
            Explore a vitalidade do treino funcional e transforme seu corpo e
            mente! Junte-se a nós para sessões dinâmicas que combinam movimentos
            naturais com intensidade controlada, promovendo força, flexibilidade
            e resistência. Com orientação de nossos instrutores especializados,
            você será desafiado a superar seus limites de forma segura e eficaz.
            Não importa seu nível de condicionamento físico, estamos aqui para
            ajudá-lo a alcançar seus objetivos. Inscreva-se agora e embarque
            nesta jornada de saúde e bem-estar!
          </p>
        </div>
        <div class="cd-single-item">
          <h3>PROFESSOR</h3>
        </div>
      </div>
      <div class="cd-trainer">
        <div class="row">
          <div class="col-md-6">
            <div class="cd-trainer-pic">
              <!-- <img
                src="/img/classes/class-details/trainer-ze-do-bode.jpg"
                alt=""
              />-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="cd-trainer-text">
              <div class="trainer-title">
                <h4>PETTER</h4>
                <span>PROFESSOR - FUNCIONAL</span>
              </div>
              <div class="trainer-social">
                <!--  <a href="https://wa.me/+556993819671"
                  ><i class="fa fa-whatsapp"></i
                ></a>-->
              </div>
              <!--<p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
                viverra maecenas lacus vel facilisis.
              </p>-->
              <ul class="trainer-info">
                <li>
                  <span>Domina</span>
                  FUNCIONAL
                </li>
              </ul>
              <!--<p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
                viverra maecenas lacus vel facilisis.
              </p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="class-timetable-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <span>CRONOGRAMA</span>
          <h2>DAS AULAS</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="table-controls">
          <ul>
            <li class="active" data-tsfilter="all">Todo</li>
            <li data-tsfilter="adultos">Adultos</li>
            <li data-tsfilter="criancas">Crianças</li>
            <li data-tsfilter="mesclados">Mesclado</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="class-timetable">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Domingo</th>
                <th>Segunda</th>
                <th>Terça</th>
                <th>Quarta</th>
                <th>Quinta</th>
                <th>Sexta</th>
                <th>Sábado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="class-time">Sem horário</td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
              </tr>
              <tr>
                <td class="class-time">Sem horário</td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
              </tr>
              <tr>
                <td class="class-time">18:00</td>
                <td class="blank-td"></td>

                <td class="blank-td"></td>
                <td class="hover-bg ts-meta" data-tsmeta="adultos">
                  <h5>FUNCIONAL</h5>
                  <span>ADULTO</span>
                </td>
                <td class="blank-td"></td>
                <td class="hover-bg ts-meta" data-tsmeta="adultos">
                  <h5>FUNCIONAL</h5>
                  <span>ADULTO</span>
                </td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
              </tr>
              <tr>
                <td class="class-time">19:00</td>
                <td class="blank-td"></td>

                <td class="blank-td"></td>
                <td class="hover-bg ts-meta" data-tsmeta="adultos">
                  <h5>FUNCIONAL</h5>
                  <span>ADULTO</span>
                </td>
                <td class="blank-td"></td>
                <td class="hover-bg ts-meta" data-tsmeta="adultos">
                  <h5>FUNCIONAL</h5>
                  <span>ADULTO</span>
                </td>
                <td class="blank-td"></td>
                <td class="blank-td"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pricing Section Begin -->
<section class="pricing-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Plano - FUNCIONAL</span>
          <h2>INCREVA-SE JÁ!</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <div class="ps-item">
          <h3>Aulas FUNCIONAL</h3>
          <div class="pi-price">
            <h2>R$ CONSULTAR</h2>
            <span>ARTES - FUNCIONAL</span>
          </div>
          <ul>
            <li>Até 4x na semana</li>
          </ul>
          <a href="#" class="primary-btn pricing-btn">COMEÇAR AGORA</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing Section End -->

<script>
  function calcularIdade(anoNascimento) {
    var dataAtual = new Date();
    var anoAtual = dataAtual.getFullYear();
    var idade = anoAtual - anoNascimento;
    return idade;
  }
</script>

<%- include("../../partials/_footer.ejs") %>
