<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="gt-text">
            <i class="fa fa-map-marker"></i>
            <p>
        R. dos Pioneiros, Acrelândia - AC, 69945-000
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gt-text">
            <i class="fa fa-mobile"></i>
            <ul>
              <li>68 9228-1830</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gt-text email">
            <i class="fa fa-envelope"></i>
            <p>alannabrito60@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Get In Touch Section End -->

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <p>Somos a academia Corpo em Forma & Saúde, dedicada a ajudá-lo a atingir seus objetivos de fitness. Nossa equipe experiente oferece programas personalizados para uma jornada de condicionamento físico transformadora. Junte-se a nós hoje!</p>

                        <div class="fa-social">
                            <a href="https://instagram.com/academiacorpoemformaesaude"><i class="fa fa-instagram"></i></a>
                            <a href="https://wa.me/+556892281830"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Link Úteis</h4>
                        <ul>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Artes Marciais</h4>
                        <ul>
                            <li><a href="/artes-marciais/bjj">Brazilian Jiu-Jitsu</a></li>
                            <li><a href="/artes-marciais/karate">Karatê</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Ferramentas</h4>
                        <ul>
                            <li><a href="/ferramentas/imc">Calculadora IMC</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os Direitos Reservados | Densenvolvido pela <a href="https://agenciagenios.com" target="_blank" rel="noopener noreferrer">Agência Gênios</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/jquery.barfiller.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>