<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Sua academia completa, venha fazer um experimental hoje mesmo."
    />
    <meta name="keywords" content="academia, acrelândia, corpo, forma, saúde" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Corpo Em Forma & Saúde - Academia</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
      <div class="loader"></div>
    </div>
-->
    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="canvas-close">
        <i class="fa fa-close"></i>
      </div>
      <div class="canvas-search search-switch">
        <i class="fa fa-search"></i>
      </div>
      <nav class="canvas-menu mobile-menu">
        <!--NAV-->
        <ul>
          <li class="active"><a href="/#">Início</a></li>
          <li>
            <a href="#">Classes</a>
            <ul class="dropdown">
              <li><a href="/classes/bjj">Brazilian Jiu-Jitsu</a></li>
              <li>
                <a href="/classes/karate">Karatê</a>
              </li>
              <li>
                <a href="/classes/danca">Dança</a>
              </li>
              <li>
                <a href="/classes/funcional">Funcional</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Ferramentas</a>
            <ul class="dropdown">
              <li><a href="/ferramentas/imc">Calculadora de IMC</a></li>
            </ul>
          </li>
          <li><a href="/contato">Contato</a></li>
        </ul>
        <!--NAV-->
      </nav>
      <div id="mobile-menu-wrap"></div>
      <div class="canvas-social">
        <a
          target="_blank"
          href="https://instagram.com/academiacorpoemformaesaude"
          ><i class="fa fa-instagram"></i
        ></a>
        <a target="_blank" href="https://wa.me/+556892281830"
          ><i class="fa fa-whatsapp"></i
        ></a>
      </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            <div class="logo">
              <a href="/#">
                <img src="/img/logo.png" alt="" />
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="nav-menu">
              <!--NAV-->
              <ul>
                <li class="active"><a href="/#">Início</a></li>
                <li>
                  <a href="#">Artes Marciais</a>
                  <ul class="dropdown">
                    <li>
                      <a href="/artes-marciais/bjj">Brazilian Jiu-Jitsu</a>
                    </li>
                    <li>
                      <a href="/artes-marciais/karate">Karatê</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Ferramentas</a>
                  <ul class="dropdown">
                    <li><a href="/ferramentas/imc">Calculadora de IMC</a></li>
                  </ul>
                </li>
                <li><a href="/contato">Contato</a></li>
              </ul>
              <!--NAV-->
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="top-option">
              <div class="to-social">
                <a
                  target="_blank"
                  href="https://instagram.com/academiacorpoemformaesaude"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a target="_blank" href="https://wa.me/+556892281830"
                  ><i class="fa fa-whatsapp"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="canvas-open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header End -->
  </body>
</html>
