<div
  class="modal fade"
  id="begginNow"
  tabindex="-1"
  role="dialog"
  aria-labelledby="begginNowLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content dark">
      <div class="modal-header">
        <h5 class="modal-title" id="begginNowLabel">Começar agora</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Pronto(a) para começar seu treino imediatamente? Somente é necessário
        que você <b>compareça a academia</b> em horário de funcionamento. Caso seja menor de
        idade, leve um responsável com você. Faça uma aula/treino experimental
        para ter certeza sobre sua inscrição e identificação com a arte!
        <hr />
        <b>Procure o instrutor/professor da aula desejada ou fale com a Alanna!</b>
        <hr>
        <a
          href="https://maps.app.goo.gl/ErdKcQWTF3DCQsE48"
          class="primary-btn pricing-btn"
          ><i class="fa fa-map-marker"></i> LOCALIZAÇÃO</a
        >
        <a href="https://wa.me/+556892281830" class="primary-btn pricing-btn"
          ><i class="fa fa-whatsapp"></i> CONTATO - ALANNA</a
        >
      </div>
    </div>
  </div>
</div>
